<div class="ui segment">
    {{ sylius_template_event('sylius.admin.customer.form.account_credentials', _context) }}
    {{ sylius_template_event('sylius.admin.customer.form.account_newsletters', _context) }}
</div>
